<my-title title="Usuários"></my-title>
<hr>

<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Ações</td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-dark">Cadastrar</button>